@using InsourceData.Models.Enquiry;
@model IEnumerable<EnquiryListViewModel>
@{
    ViewData["Title"] = "Datafetch";
}

@foreach (var item in Model)
{
    <span>@item.FullName</span>
    <span>@item.UserName</span>
    <span>@item.Email</span>
    <span>@item.Issue</span>

}